@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "modernofb";
  src: url("./assets/font/modernofbcomp-bold.otf");
}

@theme {
  --color-custom-yellow: #ffd600;
  --color-custom-red: #ff0000;
  --color-custom-gray: #70675f;
  --color-custom-dark-gray: #a59a90;
  --color-custom-green: #00a106;
  --color-custom-blue: #55acee;
}


.font-modernofb {
  font-family: "modernofb";
}


html,body {
  scroll-behavior: smooth !important;
}

body {
  background-image: url("./assets/images/png/bg-image.webp");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Noto Serif", serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-30%);
  }
}

.animate-marquee {
  animation: marquee 24s linear infinite;
  display: flex;
  width: fit-content;
  animation-play-state: running;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.text-stoke{
  -webkit-text-stroke: 1px #000;
}