@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: moderfb;
  src: url(/assets/font/modernofbcomp-bold.otf);
}

* {
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.font-family-moderfb {
  font-family: moderfb, serif;
}