@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: moderfb;
  src: url("/assets/font/modernofbcomp-bold.otf");
}
@font-face {
  font-family: perpetua;
  src: url("/assets/font/perpetua-titling-mt-std-regular.zip");
}
.font-moderfb {
  font-family: moderfb, serif;
}
.font-noto {
font-family: "Noto Serif", serif;}
.font-perpetua {
  font-family: perpetua, serif;
}